<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="searchTerm"
      debounce="500"
      (ionChange)="search($event.detail.value)"
      placeholder="Rechercher un album ne tapant son nom ou celui de son auteur"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-list *ngIf="albums.length">
        <app-search-result-item
          *ngFor="let album of albums"
          [item]="album"
          [isBookmarked]="isBookmarked(album.id)"
          (toggled)="onToggled($event)"
        ></app-search-result-item>
      </ion-list>
      <app-search-empty-placeholder *ngIf="!albums.length"></app-search-empty-placeholder>
    </ion-card-content>
  </ion-card>
</ion-content>
