<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="searchTerm"
      debounce="500"
      (ionChange)="search($event.detail.value)"
      placeholder="Rechercher un album ne tapant son nom ou celui de son auteur"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let album of (albums$ | async)">
      <ion-avatar slot="start">
        <img [src]="album.images[2].url" alt="">
      </ion-avatar>
      <ion-label>
        <h2>{{ album.artists | formatName }}</h2>
        <h3>{{ album.name }}</h3>
        <p>{{ album.total_tracks }} morceaux - {{ album.release_date }}</p>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="toggle(album)" color="primary">
        <ion-icon *ngIf="!isBookmarked(album.id)" slot="icon-only" name="bookmark-outline"></ion-icon>
        <ion-icon *ngIf="isBookmarked(album.id)" slot="icon-only" name="bookmark"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
